<form ng-submit="add()">
  <div class="row" ng-controller="AddFormCtrl as vm">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" ng-model="vm.form.title" placeholder="Title">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="inputUrl">Url</label>
        <input type="text" class="form-control" id="inputUrl" ng-model="vm.form.url" placeholder="Url">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="selectMethod">Method</label>
        <select class="form-control selectpicker" selectpicker title="Method"
                ng-model="vm.form.method"
                ng-options="item as item.label for item in vm.selectMethods">
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="txtRequestBody">Request Body</label>
        <textarea placeholder="Request Body" class="form-control" ng-model="vm.form.body" id="txtRequestBody"></textarea>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="txtResponseData">Response Data</label>
        <textarea placeholder="Response Data" class="form-control" ng-model="vm.form.response" id="txtResponseData"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>